@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap');
:root {
    --header-width:100%;
    --header-height:50px;
    --header-color:#000;
}
.prime-bg {
    background-color: #DBEDE5;
}
.sub-bg {
    background-color: #dedede;
}
.btn-bg {
    background-color: #FA640A;
}
.btn-bg:hover {
    background-color: #fc8338;
}
.cinzel-font {
    font-family: 'Cinzel', serif;
}
.opensans-font {
    font-family: 'Open Sans', sans-serif;
}
.sub-title {
    font-size: 1.25rem !important;
}
.outfit-font{
    font-family: 'Outfit', sans-serif;
}
.text-margin {
    margin-left: 3rem;
}
.text-margin-right {
    margin-right: 10rem;
}
.text-margin-top {
    margin-top: 5rem;
}
.half {
    width: 50%;
}
.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigate-styling {
    margin-left: 7rem;
}