@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
    --header-width:90%;
    --header-height:35px;
    --header-color:#000;
}
.prime-bg {
    background-color:#fcb900;
}
.cinzel-font {
    font-family: 'Cinzel', serif;
}
.opensans-font {
    font-family: 'Open Sans', sans-serif;
}