// Extra small	<576px
// Small		≥576px
// Medium		≥768px
// Large		≥992px
// Extra 	    ≥1200px
// Extra	    ≥1400px

// Extra Small
@media screen and (max-width:576px) {
   
  



} // Extra Small end

@media screen and (min-width:576px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 992px) {



// +++++++++ Hero extra small ++++++++++++++++++++++++++++++
.text-margin {
    margin-left: 0;
    text-align: center;
}
.full-section {
    flex-direction: column;

    .half-section {
        width: 100%;

        .btn-container {
            margin-top: 3rem;
        }
        .align-container{
            align-items: center !important;
            .sub-title {
                text-align: center;
            }
    
        }
    }
}
.center-md {
    justify-content: start;
    padding-top: 2rem;
    align-items: center !important;
}
.btn-container {
    justify-content: center;
}
.align-container {

    h1 {
        .text-margin{
            margin-left: 0;
        }
    }
    .btn-container {
        .text-margin{
            margin-left: 0;
        }
    }
}
// +++++++++++++++++++++++++++++++++++++++

    header .header-interior nav {
        display: none !important;
    }
}


@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 1369px) {
    .align-container{
        align-items: flex-start;
        .sub-title {
            text-align: start;
            width: 50% !important; ;
        }

    }
}

/* typography
1400 title font 
fs-1 {
    font-size: 3rem !important;
}

*/









/*
@media screen and (max-width: 992px) {
    .text-margin {
        margin-left: 2rem;
    }
}




@media screen and (max-width: 1200px) {
    .info-column {
        width: 90%;
    }

    .text-margin {
        margin-left: 3rem;
    }
}






  .text-margin {
        margin-left: 0.3rem !important;
    }

   

   

    
   

   

*/