.form-control {
    border: none !important;
    border-bottom: 1px solid #dedede  !important;
    border-radius:0rem !important ;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: transparent !important;
    outline: 0;
    // box-shadow: 0 0 0 0.25rem rgba(85, 85, 85, 0.25);
    box-shadow: none !important;
    border-bottom: 1px solid #dedede  !important;
    
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.form-box {
max-width: 300px;
background: #f1f7fe;
overflow: hidden;
border-radius: 16px;
color: #010101;

}

.form {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
padding: 32px 24px 24px;
gap: 16px;
text-align: center;
}

/*Form text*/
.title {
font-weight: bold;
font-size: 1.6rem;
}

.subtitle {
font-size: 1rem;
color: #666;
}

/*Inputs box*/
.form-container {
overflow: hidden;
border-radius: 8px;
background-color: #fff;
margin: 1rem 0 .5rem;
width: 100%;
}

.input {
background: none;
border: 0;
outline: 0;
height: 40px;
width: 100%;
border-bottom: 1px solid #eee;
font-size: .9rem;
padding: 8px 15px;
}

.form-section {
padding: 16px;
font-size: .85rem;
background-color: #e0ecfb;
-webkit-box-shadow: rgb(0 0 0 / 8%) 0 -1px;
      box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
font-weight: bold;
color: #0066ff;
-webkit-transition: color .3s ease;
-o-transition: color .3s ease;
transition: color .3s ease;
}

.form-section a:hover {
color: #005ce6;
text-decoration: underline;
}

/*Button*/
.form button {
background-color: #0066ff;
color: #fff;
border: 0;
border-radius: 24px;
padding: 10px 16px;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
-webkit-transition: background-color .3s ease;
-o-transition: background-color .3s ease;
transition: background-color .3s ease;
}

.form button:hover {
background-color: #005ce6;
}



// .form-control {
//     display: block;
//     width: 100%;
//     padding: 0rem 0rem !important;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: var(--bs-body-color);
//     background-color: transparent;
//     background-clip: padding-box;
//     border: none !important;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     border-radius: var(--bs-border-radius);
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }

// .form-control:focus {
//     color: var(--bs-body-color);
//     background-color: var(--bs-body-bg);
//     border-color: transparent !important;
//     outline: 0;
//     box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
// }