@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap");
:root {
  --header-width:100%;
  --header-height:50px;
  --header-color:#000;
}

.prime-bg {
  background-color: #DBEDE5;
}

.sub-bg {
  background-color: #dedede;
}

.btn-bg {
  background-color: #FA640A;
}

.btn-bg:hover {
  background-color: #fc8338;
}

.cinzel-font {
  font-family: "Cinzel", serif;
}

.opensans-font {
  font-family: "Open Sans", sans-serif;
}

.sub-title {
  font-size: 1.25rem !important;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
}

.text-margin {
  margin-left: 3rem;
}

.text-margin-right {
  margin-right: 10rem;
}

.text-margin-top {
  margin-top: 5rem;
}

.half {
  width: 50%;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigate-styling {
  margin-left: 7rem;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.form-box {
  max-width: 430px;
  height: 472px;
  background: #f1f7fe;
  border: 1px solid #c7c5c5;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  margin: 1rem 0 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  /* Chrome, Safari, Edge, Opera */
}
.form-container input::-webkit-outer-spin-button,
.form-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-container input[type=number],
.form-container input[type=number]:focus {
  -moz-appearance: textfield;
  border: none;
  outline: none;
  cursor: text;
}
.form-container button {
  border: none;
  border-radius: 0% !important;
  border-radius: none !important;
}

.form-section {
  padding: 16px;
  font-size: 0.85rem;
  background-color: #e0ecfb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 -1px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*input*/
label {
  position: relative;
  transition: all 0.4s ease;
}

.form-container div input[type=text] {
  cursor: text;
}
.form-container div input[type=radio] {
  opacity: 1000;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  font-weight: 200;
}
.form-container .radio-wrapper input[type=radio]:checked {
  opacity: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: #005ce6;
  color: #ffffff;
}
.form-container .radio-wrapper input[type=radio]#male::before {
  content: "Male";
  display: inline-block;
}
.form-container .radio-wrapper input[type=radio]#female::after {
  content: "Female";
  display: inline-block;
}
.form-container .radio-wrapper input[type=radio]:checked + div > label {
  background-color: #010101;
}
.form-container .radio-wrapper input[type=radio]:focus + div > label {
  background-color: #010101;
}

.form button[type=submit] {
  color: #fff;
  border: 0;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #f67626;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.form button[type=submit]:hover {
  background-color: #f58540;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body main {
  position: relative;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.vid {
  position: absolute;
  top: 3vw;
  z-index: -1;
}

.banner {
  width: 100%;
  height: 30px;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #dedede;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px #d3d3d3 solid;
  transition: all 0.5s ease;
}
header .header-interior {
  width: var(--header-width);
  height: 100%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
header .header-interior figure {
  color: var(--header-color);
}
header .header-interior ul {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 1rem;
}
header .header-interior ul li {
  color: var(--header-color);
}
header .header-interior menu {
  display: none;
}
header .header-interior menu .streak {
  width: 80%;
  height: 3px;
  background-color: #000;
}

.card-top_absolute {
  position: absolute;
  top: 3vw;
  left: 50%;
  transform: translateX(-50%);
  width: 33%;
  min-height: 90px;
  background-color: #fef9ef;
  z-index: 10;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-column {
  width: 384px;
  min-height: 483px;
  background-color: #fff;
  z-index: 10;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-info {
  width: 80%;
  height: 500px;
}

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta:hover svg {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cta:active svg {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.full-section {
  position: relative;
  width: 100%;
  min-height: 550px;
  display: flex;
}
.full-section .img-fluid {
  z-index: 1;
  top: 100%;
  transform: translateY(-100%);
}
.full-section .img-fluid.img-width {
  width: 20%;
}

main {
  justify-content: start !important;
  align-items: flex-start !important;
}

.half-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 3;
}

.half-section {
  justify-content: start;
  align-items: flex-start;
}

.align-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.btn-container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-column {
  width: 75%;
}

.hero-title {
  width: 650px;
  height: fit-content;
}

.footer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer div {
  width: var(--header-width);
  height: 80%;
  display: flex;
}

@media screen and (max-width: 576px) {
  .form-box {
    width: 98%;
    height: 472px;
  }
  .btn {
    padding: 0.5rem 1rem !important;
  }
  .align-container .sub-title {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .text-margin {
    margin-left: 0;
    text-align: center;
  }
  .full-section {
    flex-direction: column;
  }
  .full-section .half-section {
    width: 100%;
  }
  .full-section .half-section .btn-container {
    margin-top: 3rem;
  }
  .full-section .half-section .align-container {
    align-items: center !important;
  }
  .full-section .half-section .align-container .sub-title {
    text-align: center;
  }
  .center-md {
    justify-content: start;
    padding-top: 2rem;
    align-items: center !important;
  }
  .btn-container {
    justify-content: center;
  }
  .align-container h1 .text-margin {
    margin-left: 0;
  }
  .align-container .btn-container .text-margin {
    margin-left: 0;
  }
  header .header-interior nav {
    display: none !important;
  }
}
@media screen and (max-width: 1369px) {
  .align-container {
    align-items: flex-start;
  }
  .align-container .sub-title {
    text-align: start;
    width: 50%;
  }
}
/* typography
1400 title font 
fs-1 {
    font-size: 3rem !important;
}

*/
/*
@media screen and (max-width: 992px) {
    .text-margin {
        margin-left: 2rem;
    }
}




@media screen and (max-width: 1200px) {
    .info-column {
        width: 90%;
    }

    .text-margin {
        margin-left: 3rem;
    }
}






  .text-margin {
        margin-left: 0.3rem !important;
    }










*/
.dol {
  outline: dashed red 1px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/*# sourceMappingURL=app.css.map */
