body {
    // background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // gap: 1rem;
    main {
        position: relative;
        width: 100%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap: 1rem;
    }
}
.vid{
    position: absolute;
    top: 3vw;
    z-index: -1;
}